:root {
    --color-comb1: #0d1f9d;
    --color-comb2: #fcf7ff;
    --color-comb3: #968ab6;
    --color-comb4: #e8d5b5;
}

* {
    font-family:monospace;
    margin: 0px;
    padding: 0px;
}

/* Styling headers and nav using Basic CSS properties */
/* header {
    background-color: #0d1f9d;
    color: #fcf7ff;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header nav ul {
    list-style: none;
    padding: 5px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fcf7ff;
    text-decoration: none;
} */

/* Styling using the Flexbox layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-comb1);
    color: var(--color-comb2);
    padding: 30px;
}

header h1 {
    margin: 0px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: #fcf7ff;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--color-comb4);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  @media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
  }

/* Styling with Grid */
/* header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #0d1f9d;
    color: #fcf7ff;
    padding: 30px;
}

header h1 {
    grid-column: 2 / 3;
    text-align: right;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
} */

/* Styling the main contents (section and article) */
main {
    background-color: var(--color-comb2);
    color: var(--color-comb1);
    padding: 20px;
}

section { 
    margin-bottom: 10px;
    text-align: center;
}

.main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

p {
    text-align: left;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 14px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: var(--color-comb4);
}

table {
    border-collapse: collapse; /* Ensures borders don't double up */
}
table, th, td {
    border: 1px solid var(--color-comb3); /* Adds border to the table, header, and data cells */
    padding: 20px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 14px;
} 
tr:nth-child(even) {
    background-color: var(--color-comb4);
}
tr:hover {
    background-color: var(--color-comb1);
    color: var(--color-comb2);
}
th {
    background-color: var(--color-comb1);
    color: var(--color-comb2);
    text-align: center;
    padding: 12px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
